/* EducationForm.scss */
.education-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
 
    margin-left: 25%;
    
   
    .total {
    
      margin-bottom: 0;
      
     
  }
  
  .details {
      margin-top: 0%;
      text-align: left;
      
     
  }
 
    .form-row {
      display: flex;
      align-items: center;
       margin-top: 0;
     
      justify-content:space-between;
     
     
    }
    .profileFieldInput {
      align-items: center;
      border: 2px solid #6864ff;
      border-radius: 2px;
      color: grey;
      display: flex;
      padding: 10px;
      width:fit-content;
      
  }
  
  .box {
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(78, 12, 176);
}
.box box {
  margin: 5px 4px;
  width: 400px;
  border: none;
}
.box span {
  margin-right: 5px;
}
  .profileBoxUpload {
      align-items: center;
    border: dotted;
      display: flex;
      height: 60vh;
      justify-content: center;
      margin-top: 20px;
    }  
    .profileUploadText {
      align-items: center;
      background-color: #6864ff;
      border-radius: 30px;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
      width: 120px;
  }
 
    .form-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
  